<p style="color: green"><%= notice %></p>

<%= form_tag office_hours_path, method: :get, id: 'days_form', local: true do %>
  Include:
  <% @all_days.each do |day| %>
    <div class="form-check form-check-inline">
      <%= check_box_tag "days[#{day}]", "1", @days_to_show.include?(day), class: 'form-check-input' %>
      <%= label_tag "days[#{day}]", day, class: 'form-check-label' %>
    </div>
  <% end %>
  <div class="form-check form-check-inline">
    <label class="form-label me-2" for="sort_by">Sort by:</label>
    <%= select_tag :sort_by,
                   options_for_select([["Course", "course_name"],
                                       ["Instructor", "instructor"],
                                       ["Day", "day"],
                                       ["Start Time", "start_time"]],
                                       @sort_by),
                   id:    "sort_by",
                   class: "form-select d-inline w-auto" %>
  </div>
  <%= submit_tag 'Refresh', id: 'days_submit', class: 'btn btn-primary' %>
  
<% end %>

<h1>Office Hours</h1>

<div id="office_hours">
  <% @office_hours.each do |office_hour| %>
    <%= render office_hour %>
    <p>
      <%= link_to "Show this office hour", office_hour %>
    </p>
  <% end %>
</div>

<%= link_to "New office hour", new_office_hour_path %>