<p style="color: green"><%= notice %></p>

<%= render @office_hour %>

<div>
  <%= link_to "Edit this office hour", edit_office_hour_path(@office_hour) %> |
  <%= link_to "Back to office hours", office_hours_path %>

  <%= button_to "Destroy this office hour", @office_hour, method: :delete %>
</div>