<!DOCTYPE html>
<html>
  <head>
    <title>OfficeLine</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="ol-topbar">
      <div class="ol-wrap">
        <%= link_to "OfficeLine", office_hours_path, class: "ol-brand" %>
      </div>
    </header>

    <main class="ol-wrap">
      <% flash.each do |type, msg| %>
        <div class="ol-flash <%= type %>"><%= msg %></div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
